{% set wet_server = h.wet_url() %}
{% set wet_theme = h.wet_theme() %}
<link rel="stylesheet" type="text/css" href="/fanstatic/vendor/:version:2015-09-01T11:37:20.20/font-awesome/css/font-awesome.css" />
<!--[if ie 7]><link rel="stylesheet" type="text/css" href="/fanstatic/vendor/:version:2015-09-01T11:37:20.20/font-awesome/css/font-awesome-ie7.css" /><![endif]-->
<!--[if gte IE 9 | !IE ]><!-->
<link href="{{ wet_server }}/{{ wet_theme }}/assets/favicon.ico" rel="icon" type="image/x-icon" />
<link rel="stylesheet" href="{{ wet_server }}/{{ wet_theme }}/css/theme.min.css" />
<!--<![endif]-->
<!--[if lt IE 9]>
<link href="{{ wet_server }}/{{ wet_theme }}/assets/favicon.ico" rel="shortcut icon" />
<link rel="stylesheet" href="{{ wet_server }}/{{ wet_theme }}/css/ie8-theme.min.css" />
<script src="{% if h.wet_jquery_offline() == false %}http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js{% else %}{{ wet_server }}/wet-boew/js/jquery/1.11.1/jquery.min.js{% endif %}"></script>
<script src="{{ wet_server }}/wet-boew/js/ie8-wet-boew.min.js"></script>
<![endif]-->

<noscript><link rel="stylesheet" href="{{ wet_server }}/wet-boew/css/noscript.min.css" /></noscript>
