
{% block item %}
   <li>

  {% block item_inner %}
     <div class="panel col-md-12">
    {% block image %}
      <img src="{{ organization.image_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ organization.name }}" class="img-responsive">
    {% endblock %}

    {% block title %}
      <p class="col-md-12">
        <a href="{{ url }}" title="{{ _('View {name}').format(name=organization.display_name) }}">
          {{ organization.display_name }}
        </a>
      </p>
    {% endblock %}

    {% block description %}
      {% if organization.description %}
        <p class="text-center col-md-12">{{ h.markdown_extract(organization.description, extract_length=80) }}</p>
      {% else %}
        <p class="text-center col-md-12">{{ _('This organization has no description') }}</p>
      {% endif %}

    {% endblock %}

    {% block datasets %}
      <p class="text-cente col-md-12r">
        {% if organization.packages %}
          <a class="btn btn-default" href="{{ url }}">
            {{ ungettext('{num} Dataset', '{num} Datasets', organization.packages).format(num=organization.packages) }}
          </a>
        {% else %}
          <button class="btn btn-default" disabled="disabled">{{ _('0 Datasets') }}</button>
        {% endif %}
      </p>
    {% endblock %}

  {% block link %}{% endblock %}
  {% endblock %}
  </div>
  </li>

{% endblock %}


