*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.idea

# WET Toolkit
*.tgz
ckanext/wet_boew/public/dist/grids
ckanext/wet_boew/public/dist/js
ckanext/wet_boew/public/dist/theme-base
ckanext/wet_boew/public/dist/theme-clf2-nsi2
ckanext/wet_boew/public/dist/theme-gcwu-fegc
ckanext/wet_boew/public/dist/theme-gcwu-intranet
ckanext/wet_boew/public/dist/theme-wet-boew
