{% extends "page_wet.html" %}

{% set pkg = c.pkg_dict %}
{% set res = c.resource %}

{% block subtitle %}{{ h.dataset_display_name(c.package) }} - {{ h.resource_display_name(res) }}{% endblock %}

{% block breadcrumb_content_selected %}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Datasets'), controller='package', action='search', highlight_actions = 'new index' %}</li>
  <li>{% link_for h.dataset_display_name(c.package)|truncate(15), controller='package', action='read', id=c.package.get('name') %}</li>
  <li>{% link_for h.resource_display_name(res)|truncate(30), controller='package', action='resource_read', id=c.package.get('name'), resource_id=res.id %}</a></li>
{% endblock %}

{% block actions_content %}
  {% snippet 'package/snippets/back_to_package_action.html', pkg=pkg %}

  {% if h.check_access('package_update', {'id':pkg.id }) %}
    <li>{% link_for _('Edit Resource'), controller='package', action='resource_edit', id=pkg.name, resource_id=res.id, class_='btn', icon='wrench' %}</li>
  {% endif %}

  {% if res.url %}
    <li>
      <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}" href="{{ res.url }}">
        {% if res.resource_type in ('listing', 'service') %}
          <i class="icon-eye-open"></i> {{ _('View') }}
        {% elif  res.resource_type == 'api' %}
          <i class="icon-key"></i> {{ _('API Endpoint') }}
        {% else %}
          <i class="icon-download"></i> {{ _('Download') }}
        {%endif %}
      </a>
    </li>
  {% endif %}

  {% if 'datastore' in g.plugins %}
    <li>{% snippet 'package/snippets/data_api_button.html', resource=res, datastore_root_url=c.datastore_api %}</li>
  {% endif %}
{% endblock %}

{% block primary_content %}

  {% block resource %}
    <section>
      <div>
        <div>
          {% block resource_content %}
            {% block resource_read_title %}<h3>{{ h.resource_display_name(res) | truncate(50) }}</h3>{% endblock %}
            <a class="button" href="{{ res.url }}"><span class="wb-icon-drive-download"></span>Download</a>
            <div class="prose notes" property="rdfs:label">
              {% if res.description %}
                {{ h.render_markdown(res.description) }}
              {% else %}
                <p class="empty">{{ _('There is no description for this resource') }}</p>
              {% endif %}
              {% if not res.description and c.package.notes %}
                <h3>{{ _('From the dataset abstract') }}</h3>
                <p>{{ h.markdown_extract(c.package.get('notes')) }}</p>
                <p>{% trans dataset=c.package.title, url=h.url_for(controller='package', action='read', id=c.package['name']) %}Source: <a href="{{ url }}">{{ dataset }}</a>{% endtrans %}
              {% endif %}
            {% endblock %}
          </div>
        </div>
        {% block data_preview %}
          <div>
            {% if c.resource.datastore_active %}
              {# The resource preview feature of CKAN should only be used with an accessible previewer like ckanext-datatable #}

              {{ h.get_datapreview(c.resource.id) }}

            {% endif %}
          </div>
        {% endblock %}
      </div>
    </section>
  {% endblock resource %}

  {% block resource_additional_information %}
    {% if res %}
      <section>
        <div class="module-content">
          <h3>{{ _('Additional Information') }}</h3>
          <table class="wet-boew-zebra">
            <thead>
              <tr>
                <th>{{ _('Field') }}</th>
                <th>{{ _('Value') }}</th>
              </tr>
            </thead>
            <tbody>
              {% for key, value in h.format_resource_items(res.items()) %}
                <tr><th>{{ key }}</th><td>{{ value }}</td></tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </section>
    {% endif %}
  {% endblock %}
{% endblock %}

{% block secondary_content %}
  {% block resource_information %}
       
  <section>
  <div class="module-related">        
  <h3>{{ _('Resource Information') }}</h3>
      <ul>
        <li><span class="ckan-icon ckan-icon-calendar"></span> Last Updated: {{ h.render_datetime(res.last_modified) or _("unknown") }}</li>
        <li><span class="ckan-icon ckan-icon-file"></span> Format: {{ res.mimetype_inner or res.mimetype or _("unknown") }}</li>
      </ul>
  </div>
  </section>

  {% endblock resource_information %}

  {% block package_social %}
    <p>
    {% snippet "snippets/social.html", pkg_dict=pkg %}
    </p>
  {% endblock %}

  {% block package_license %}
    <p>
    {% snippet "snippets/license.html", pkg_dict=pkg %}
    </p>
  {% endblock %}
  
{% endblock %}

