{% ckan_extends %}

{%- block custom_styles -%}
  {{ super() }}
  {# Temporary styles until the panels styles are resolved in GCWeb #}
  <style>
    .panel.panel-primary, .panel.panel-primary .panel-heading {border-color: #335075;}
    .panel.panel-primary .panel-heading {background: #335075;}
    .panel.panel-primary .panel-heading a {color: #fff}
  </style>
{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      {% block flash %}
        {{ super() }}
      {% endblock %}
      <main property="mainContentOfPage" class="{% if self.secondary_content()|trim != '' %}col-md-9{% else %}col-md-12{% endif %}" role="main">
      {% block pre_primary %}{% endblock %}
      {% block page_title %}
        {{ super() }}
      {% endblock %}
      {% block primary_content %}
        {{ super() }}
      {% endblock %}
      </main>
      {% block secondary %}
        {% if self.secondary_content()|trim != '' %}
          <aside class="col-md-3">
            {% block secondary_content %}{% endblock %}
          </aside>
        {% endif %}
      {% endblock %}
    </div>
  </div>
{% endblock %}
