{% block group_item %}
  <div class="panel panel-default">
    {% block group_item_header %}
      <div class="panel-heading">
        <div class="row">
          <img class="col-sm-4" src="{{ group.image_url or h.url_for_static('/base/images/placeholder-group.png') }}" />
          <div class="col-sm-8">
            <h2 style="margin-top:0">
              <a href="{{ h.url_for(controller='group', action='read', id=group.name) }}">
                {{ group.title or group.name }}
              </a>
            </h2>
            {% block group_item_header_description %}
              {% if group.description %}
                {% if truncate == 0 %}
                  <p>{{ h.markdown_extract(group.description)|urlize }}</p>
                {% else %}
                  <p>{{ h.markdown_extract(group.description, truncate)|urlize }}</p>
                {% endif %}
              {% endif %}
            {% endblock %}
          </div>
        </div>
      </div>
    {% endblock %}
    <div class="panel-body">
      {% snippet 'snippets/package_list.html', packages=group.packages, list_class='list-unstyled', item_class=item_class, truncate=120 %}
    </div>
  </div>

{% endblock %}