    <div class="container nvbar">
      <h2>
        Site menu
      </h2>
      <div class="row">

<ul class="list-inline menu" role="menubar">
  <li>
    <a href="#home_mn" class="item" role="menuitem">{{ _('Home') }}</a>
    <ul class="sm list-unstyled" id="home_mn" role="menu">
      <li>{% link_for _('Home'), controller='home', action='index' %}</li>
      <li>{% link_for _('About'), controller='home', action='about' %}</li>
    </ul>
  </li>

  <li>
    <a href="#search_mn" class="item" role="menuitem">{{ _('Search Data') }}</a>
    <ul class="sm list-unstyled" id="search_mn" role="menu">
      {{ h.build_nav_main(
          ('add dataset', _('Add Dataset'), 'package_create'),
          ('search', _('Datasets')),
          ('organizations_index', _('Organizations')),
          ('group_index', _('Groups')),
        ) }}
      <li class="slflnk">
        <a href="/">{{ _('Open Data') }}</a>
      </li>
    </ul>
  </li>

  <li>
    <a href="#account_mn" class="item" role="menuitem">{{ _('My Account') }}</a>
    <ul class="sm list-unstyled" id="account_mn" role="menu">
      {% if user %}
        <li>{% link_for _('Dashboard'), controller='user', action='dashboard' %}</li>
        <li>{% link_for _('My Profile'), controller='user', action='read', id=user.name %}</li>
        <li>{% link_for _('Edit Profile'), controller='user', action='edit', id=user.name %}</li>
        <li>{% link_for _('Log out'), controller='user', action='logout' %}</li>
      {% else %}
        <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
        <li>{% link_for _('Register'), controller='user', action='register' %}</li>
      {% endif %}
    </ul>
  </li>
</ul>

      </div>
    </div>
