{% ckan_extends %}

{% block info %}
<div class="panel panel-default">
  {{ self.inner() }}
</div>
{% endblock %}

{% block heading %}
  {% if group %}
  <div class="panel-heading text-center">{{ group.display_name }}</div>
  {% endif %}
{% endblock %}

{% block nums %}
<div class="row">
  <div class="col-md-6">
    <h4 class="text-center">{{ _('Followers') }}</h4>
    <p class="font-xlarge align-center">
      {{ h.SI_number_span(organization.num_followers) }}
    </p>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h4 class="align-center">{{ _('Members') }}</h4>
    <p class="font-xlarge align-center">
      {{ h.SI_number_span(organization.members|length) }}
    </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h4 class="test-center">{{ _('Datasets') }}</h4>
    <p class="font-xlarge align-center">
      {{ h.SI_number_span(organization.packages|length) }}
    </p>
  </div>
</div>

{% endblock %}

{# block follow %}
  {{ h.follow_button('organization', organization.id) }}
{% endblock #}
