{# It is not possible to use to ckan_extends due to the very different formatting that WET uses with forms #}
{% import 'macros/form.html' as form %}

{% set placeholder = placeholder if placeholder else _('Search...') %}
{% set sorting = sorting if sorting else [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}
{% set search_class = search_class if search_class else 'search-giant' %}
{% set sort_arg = request.params.get('sort') %}

<form class="form-inline mrgn-bttm-lg" role="form" method="get" data-module="select-switch">
{% block search_input %}

  {% block search_input_label %}
  <label for="search_field" class="wb-inv">{{ _('Search Datasets') }}</label>
  {% endblock %}

  <div class="input-group">
    <input type="text" class="form-control" id="search_field" autocomplete="off" name="q" placeholder="{{ placeholder }}">
    <span class="input-group-btn">
      {% block search_input_button %}
      <button class="btn btn-primary btn-small" id="wb-srch-sub" type="submit"><span class="glyphicon-search glyphicon"></span><span class="wb-inv">{{ _('Search') }}</span></button>
      {% endblock %}
    </span>
  </div>
{% endblock %}

{% block search_search_fields %}
  {% if fields -%}
    <span>{{ form.hidden_from_list(fields=fields) }}</span>
  {%- endif %}
{% endblock %}

{% block search_form_midsection %}{% endblock %}

{% block search_title %}
  {% if not no_title %}
  <div class="row">
    {% if count==0 %}
    <div class="col-md-12 mrgn-tp-md text-center text-warning">
      <strong>{% snippet 'snippets/search_result_text.html', query=query, count=count, type=type %}</strong>
    </div>
    {% else %}
    <div class="col-md-6 mrgn-tp-md text-left text-success">
        <strong>{% snippet 'snippets/search_result_text.html', query=query, count=count, type=type %}</strong>
    </div>
    <div class="col-md-6 mrgn-tp-md text-right">
      {% snippet "snippets/sort_by.html", sort=sort_arg %}
    </div>
    {% endif %}
  </div>
  {% endif %}
{% endblock %}

{% block search_form_footer %}{% endblock %}
</form>