{% extends "page_wet.html" %}

{% set user = c.user_dict %}

{% block subtitle %}{{ user.display_name }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Users'), controller='user', action='index' %}</li>
  <li>{% link_for user.display_name|truncate(35), controller='user', action='read', id=user.name %}</li>  
{% endblock %}

{% block toolbar %}
  {% if c.user %}
  <div class="span-8">
    {% block actions %}
    <ul class="button-group">
      {% block actions_content %}
        {% if h.check_access('user_update', user) %}
          <li>{% link_for _('Edit'), controller='user', action='edit', id=user.name, class_='button' %}</li>
        {% endif %}
        {% if c.is_myself == false %}
          <li>{{ h.follow_button('user', user.id) }}</li>
        {% endif %}
      {% endblock actions_content %}
    </ul>
    {% endblock actions %}
  </div>
  </div class="clear">
  {% endif %}
{% endblock toolbar %}


{% block primary_content %}
<section>
  <header>
    <ul class="button-group margin-top-none">
      <li>
        <a href="{{h.url(controller='user', action='read', id=user.name)}}" class="button{% if c.action == 'read' %} button-accent{% endif %}"><span class="wb-icon-documents"></span>{{_('Datasets')}}</a>
      </li>
      <li>
        <a href="{{h.url(controller='user', action='activity', id=user.name)}}" class="button{% if c.action == 'activity' %} button-accent{% endif %}"><span class="wb-icon-pencil"></span>{{_('Activities')}}</a>
      </li>
    </ul>
  </header>

  {% block primary_content_inner %}
  {% endblock primary_content_inner %}
</section>
{% endblock %}

{% block secondary_content %}
<div class="module">
  <section>
    {% block secondary_content_inner %}

    <div class="span-2">
      <h3 class="align-center">{{ user.fullname or _('No full name provided') }}</h3>
      {% if c.about_formatted %}
        {{ c.about_formatted }}
      {% else %}
        <p class="empty">
          {% if c.is_myself %}
            {{ _('You have not provided a biography') }}.
          {% else %}
            {% trans %}This user has no biography.{% endtrans %}
          {% endif %}
        </p>   
      {% endif %}
    </div>
    <div class="span-2">
      <div class="span-1 row-start">
        <h5 class="align-center">{{ _('Edits') }}</h5>
        <p class="font-xlarge align-center">
          {{ h.SI_number_span(user.number_of_edits) }}
        </p>
      </div>
      <div class="span-1 row-end">
        <h5 class="align-center">{{ _('Datasets') }}</h5>
        <p class="font-xlarge align-center">
          {{ h.SI_number_span(user.number_administered_packages) }}
        </p>
      </div>       
      <div class="clear"></div>
    </div>
    <div class="span-2">
      <ul class="list-bullet-none">
      {% if user.name.startswith('http://') or user.name.startswith('https://') %}
        <li><h5>{{ _('Open ID') }}</h5></li>
        <ul class="list-bullet-none">
          <li>{{ user.name|urlize(25) }}{# Be great if this just showed the domain #}</li>
        </ul>
      {% else %}
        <li><h5>{{ _('Username') }}</h5></li>
        <li>{{ user.name }}</li>
      {% endif %}
      {% if c.is_myself %}
        <li><h5>{{ _('Email') }}</h5></li>
        <li>{{ user.email }} <span class="background-medium"><span class="wb-icon-lock"></span> {{ _('Private') }}</span></li>
      {% endif %} 
      <li><h5>{{ _('Member Since') }}</h5></li>
      <li>{{ h.render_datetime(user.created) }}</li>
      {% if c.is_myself %}
        <li><h5>{{ _('API Key') }}</h5></li>
        <li>{{ user.apikey }}</li>
        <li><span class="background-medium"><span class="wb-icon-lock"></span> {{ _('Private') }}</span></li>
      {% endif %}                        
      </ul>
    </div>
    <div class="clear"></div>    
    {% endblock secondary_content_inner %}

  </section>
</div>
{% endblock %}
