{#{% ckan_extends %}

{% block header_site_search_label %}{{ _('Search Data') }}{% endblock %}#}

{% set lang = h.lang() %}
{% set current_url = request.environ.CKAN_CURRENT_URL %}

<div id="wb-head">
  <div id="wb-head-in">
    <header>
      <!-- HeaderStart -->
      <section>
        <div id="base-fullhd">
          <h2>Full-width header area</h2>
          <div id="base-fullhd-in">
            <ul>
              {# This format only works for a bilingual format #}
              <li id="base-fullhd-lang">
                {% if h.lang() == 'en'%}
                <a href="{% url_for current_url, locale='fr' %}" lang="fr">Français</a>
                {% elif h.lang() == 'fr' %}
                <a href="{% url_for current_url, locale='en' %}" lang="en">English</a>
                {% else %}
                <a href="{% url_for current_url, locale='en' %}" lang="en">English</a>                    
                {% endif %}
              </li>
            </ul>
          </div>
        </div>
      </section>

      <div id="base-bnr" role="banner">
        <div id="base-bnr-in">
          <div id="base-title">
            <p id="base-title-in">
              <a href="/">{{ _('Open Data') }}</a>
            </p>
          </div>
        </div>
      </div>

      <nav role="navigation">
        <div id="base-psnb">
          <h2><span>Site </span>menu</h2>
          <div id="base-psnb-in">
            <div class="wet-boew-menubar mb-mega">
              <div>
                <ul class="mb-menu">
                  {% snippet "snippets/menu.html", user = c.userobj %}
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="base-bc">
          <h2>Breadcrumb trail</h2>
          <div id="base-bc-in">
            <ol>
            {% block breadcrumb %}
              {% if self.breadcrumb_content() | trim %}
                {% snippet 'snippets/home_breadcrumb_item.html' %}
                {% block breadcrumb_content %}{% endblock %}
              {% endif %}
            {% endblock %}
            </ol>
          </div>
        </div>
      </nav>
      <!-- HeaderEnd -->
    </header>
  </div>
</div>