<li>
  <section>
    <h3><a href={{ h.url(action='index', controller='home') }}>{{_('Home')}}</a></h3>
    <div class="mb-sm">
      <div class="span-2">
        <ul>
          <li>
            <a href={{ h.url(action='index', controller='home') }}>{{_('Home')}}</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</li>
<li>
  <section>
    <h3><a href={{ h.url(action='about', controller='home') }}>About CKAN</a></h3>
    <div class="mb-sm">
      <div class="span-2">
        <ul>
          {{ h.build_nav_main(
            ('add dataset', _('Add Dataset'), 'package_create'),
            ('search', _('Datasets')),
            ('organizations_index', _('Organizations')),
            ('group_index', _('Groups')),
            ('about', _('About'))
          ) }}
        </ul>
      </div>
      <div class="clear"></div>
      <div class="mb-main-link">
        <a href={{ h.url(action='about', controller='home') }}>About</a>
      </div>
    </div>
  </section>
</li>
<li>
{% if c.userobj %}
  <section>
    <h3><a href={{ h.url(action='about', controller='home') }}>{{ _('My Account') }}</a></h3>
    <div class="mb-sm">
      <div class="span-2">
        <ul>
          <li>
            <a href="{{ h.url_for(controller='user', action='dashboard') }}">
              <i class="icon-dashboard"></i>
              {{ _('Dashboard') }}
            </a>
          </li>
          <li>
            <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}">
              <i class="icon-user"></i>
              {{ _('My Profile') }}
            </a>
          </li>
          <li>
            <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}">
              <i class="icon-wrench"></i>
              {{ _('Edit Profile') }}
            </a>
          </li>
          <li>
            <a href="{{ h.url_for('/user/_logout') }}">
              <i class="icon-signout"></i>
              {{ _('Log out') }}
            </a>
          </li>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="mb-main-link">
        <a href={{ h.url(action='about', controller='home') }}>About</a>
      </div>
    </div>
  </section>          
{% else %}
  <section>
    <h3>{% link_for _('Log in'), controller='user', action='login' %}</a></h3>
    <div class="mb-sm">
      <div class="span-2">
        <ul>
          <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
          <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
        </ul>
      </div>
      <div class="clear"></div>
      <div class="mb-main-link">
        {% link_for _('Log in'), controller='user', action='login' %}
      </div>
    </div>
  </section>
{% endif %}
</li>
<li>
  <section>
    <h3><a href={{ h.url(action='search', controller='package') }}>Search</a></h3>
    <div class="mb-sm">
      <div class="span-2">
        <ul>
          <li>
            <a href={{ h.url(action='search', controller='package') }}>Search for data</a>
          </li>
        </ul>
      </div>
    </div>
  </section>
</li>
