<div>
  {% set config_js = h.url_for_static('/data/config-en.js') %}
  <div class="wet-boew-geomap position scaleline"
    data-wet-boew='{
    "layersFile": "{{config_js}}",
    "tables": [ { "id": "spatialfeature", "datatable": false, "tab": false, "visible": true, "zoom" : true } ]}'>
    </div>
</div>
  
<div class="clear"></div>

<!-- Insert Layer Data -->
<div class="wet-boew-geomap-layers">
  <div>
    <section>

    <table id="spatialfeature" class="table-simplify width-100" aria-label="{{_('Spatial Feature')}}">
    <caption></caption>
    <thead>
      <tr>
        <th>{{_('Name')}}</th>
      </tr>
    </thead>
    <tbody>
      <tr data-geometry="{{ h.geojson_to_wkt(gjson) }}" data-type="wkt">
        <td>{{gid}}</td>
      </tr>
    </tbody>
    </table>
    </section>      
      
  </div>  
</div>
<!-- END Insert Layer Data -->

<div class="clear"></div>
