<div>
  <div class="wet-boew-geomap position scaleline"
    data-wet-boew='{
    "layersFile": "/data/data/config-en.js",
    "tables": [ { "id": "cities", "datatable": true, "tab": false, "visible": true, "zoom" : true } ]
    }'>
    </div>
</div>
  
<div class="clear"></div>

<!-- Insert Layer Data -->
<div class="wet-boew-geomap-layers">
  <h2>Feature</h2>
  <div>
    <section><h3 class="background-light">Cities</h3>

    <table id="cities" class="table-simplify width-100" aria-label="Cities">
    <caption></caption>
    <thead>
      <tr>
        <th>ID</th>
      </tr>
    </thead>
    <tbody>
      {# This needs to be converted to a dynamic type passed into the snippet from read.html #}
      <tr data-geometry="Polygon (-114.5 55.75, -114.5 56, -114, 56, -114, 55.75, -114.5, 55.75)" data-type="wkt">
        <td>{{gid}}</td>
      </tr>
    </tbody>
    </table>
    </section>      
      
  </div>  
</div>
<!-- END Insert Layer Data -->

<div class="clear"></div>

