<section>
  <div class="module-related">
    <h3><span class="wb-icon-lock"></span>{{_('License')}}</h3>
    <ul>
    {% if pkg_dict.license_id %}
      <li>
      {% if 'license_url' in pkg_dict %}
        <a href="{{ pkg_dict.license_url }}" rel="dc:rights">{{ pkg_dict.license_title }}</a>
      {% else %}
        <span property="dc:rights">{{ pkg_dict.license_title }}</span>
      {% endif %}
      {% if not text_only %}
          <br/>
          {% if pkg_dict.isopen %}
            <a href="http://opendefinition.org/okd/" title="This dataset satisfies the Open Definition.">
              <img class="image-actual" src="{{ h.url_for_static('/images/od_80x15_blue.png') }}" width="80" height="15" alt="[Open Data]" />
            </a>
          {% else %}
            <span class="wb-icon-lock"></span>
          {% endif %}

      {% endif %}
      </li>
    {% elif text_only %}
      <li>
        {{ _('No Licence Provided') }}
      </li>
    {% endif %}
    </ul>
  </div>
</section>
