{% ckan_extends %}
{% set lang = h.lang() %}
{% block header_wrapper %}
<header role="banner">
  <div id="wb-bnr">
    <div id="wb-bar">
      <div class="container">
        <div class="row">
          {%- block headerbar -%}
            <object id="gcwu-sig" type="image/svg+xml" tabindex="-1" role="img" data="{{ h.url_for_wet_theme('/assets/sig-blk-' + lang + '.svg') }}" aria-label="{{ _("Government of Canada") }}"></object>
            {%- block languagetoggle -%}
              {% snippet 'snippets/wet-boew/languagetoggle.html' %}
            {%- endblock -%}
          {%- endblock -%}
          {%- block mobimenu -%}
           {{ super() }}
          {%- endblock -%}
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        {% block brand %}
          {% snippet 'snippets/wet-boew/brand.html' %}
        {% endblock %}
        {% block sitesearch %}
          <section id="wb-srch" class="visible-md visible-lg">
            <h2>{{ _("Search") }}</h2>
            {% block sitesearchform %}
              {{ super() }}
            {% endblock %}
          </section>
        {% endblock %}
      </div>
    </div>
    {% block header_debug %}
      {{ super() }}
    {%- endblock -%}
  </div>

  {% block sitemenu %}
    {{ super() }}
  {% endblock %}

  {% block breadcrumb %}
    {{ super() }}
  {% endblock %}

  {% block signed_on_off %}
    {{ super() }}
  {% endblock %}
</header>
{% endblock %}