{% extends "page_wet.html" %}

{% block subtitle %}{{ _('All Users') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Users'), controller='user', action='index') }}</li>
{% endblock %}

{% block primary_content %}
  <article class="module-poster">
    <div class="module-content">
      <h1 class="page-heading">{{ _('Users') }}</h1>
      <ul class="user-list">
        {% for user in c.page.items %}
          <li>{{ h.link_to(user.name, h.url_for(controller='user', action='read', id=user["name"])) }}</li>
        {% endfor %}
      </ul>
    </div>
    {{ c.page.pager(q=c.q, order_by=c.order_by) }}
  </article>
{% endblock %}

{% block secondary_content %}
  {% snippet 'user/snippets/user_search.html' %}
{% endblock %}
