{% extends "page_wet.html" %}
 
{% set pkg = c.pkg_dict %}

{% block subtitle %}{{ pkg.title or pkg.name }}{% endblock %}

{% block breadcrumb_content %}
  {% set dataset = pkg.title or pkg.name %}
  <li>{% link_for _('Datasets'), controller='package', action='search', highlight_actions = 'new index' %}</li>
  <li class="active"><a href="" title="{{ dataset }}">{{ dataset|truncate(35) }}</a></li>
{% endblock %}

{% block actions_content %}
  {# NOTE: Not implemented in stage 1 #}
  {# <li class="button">{% link_for _('History'), controller='package', action='history', id=pkg.name, class_='btn', icon='undo' %}</li> #}
  {% if c.user %}
  <ul class="button-group">
    {% if h.check_access('package_update', {'id':pkg.id }) %}
      <li>{% link_for _('Edit'), controller='package', action='edit', id=pkg.name, class_='button' %}</li>
    {% endif %}
    <li>{{ h.follow_button('dataset', pkg.id) }}</li>
  </ul>
  {% endif %}
{% endblock %}

{% block primary_content %}
  {% block package_revision_info %}
    {% if c.pkg_revision_id %}
      <div>
        <p>
          {% set timestamp = h.render_datetime(c.pkg_revision_timestamp, with_hours=True) %}
          {% set url =  h.url(controller='package', action='read', id=pkg.name) %}

          {% if c.pkg_revision_not_latest %}
            {% trans timestamp=timestamp, url=url %}This is an old revision of this dataset, as edited at {{ timestamp }}. It may differ significantly from the <a href="{{ url }}">current revision</a>.{% endtrans %}
          {% else %}
            {% trans timestamp=timestamp %}This is the current revision of this dataset, as edited at {{ timestamp }}.{% endtrans %}
          {% endif %}
        </div>
      </div>
    {% endif %}
  {% endblock %}

  <article>

    {% block page_header %}
        <ul class="button-group margin-top-none">
          <a href="{{h.url(controller='package', action='read', id=pkg.name)}}" class="button button-accent">{{_('Dataset')}}</a>
          <a href="{{h.url(controller='package', action='activity', id=pkg.name)}}" class="button">{{_('Activity Stream')}}</a>
          <a href="{{h.url(controller='related', action='list', id=pkg.name)}}" class="button">{{_('Related')}}</a>
        </ul>
    {% endblock %}

    {% block primary_content_inner %}{% endblock %}
  </article>
{% endblock primary_content %}

{% block secondary_content %}

  {% block secondary_help_content %}{% endblock %}

  {% block package_groups %}
    {% for group in pkg.groups %}
      {% snippet "snippets/group.html", group=group, truncate=70 %}<p></p>
    {% endfor %}
  {% endblock %}

  {% block package_social %}
    {% if pkg.groups %}<p>{% endif %}
    {% snippet "snippets/social.html" %}
    {% if pkg.groups %}</p>{% endif %}
  {% endblock %}

  {% block package_related %}
    <p>
    {% snippet "snippets/related.html", item=c.pkg.related|last, pkg_name=pkg.name %}
    </p>
  {% endblock %}

  {% block package_license %}
    <p>
    {% snippet "snippets/license.html", pkg_dict=pkg %}
    </p>
  {% endblock %}

{% endblock secondary_content %}


