{% extends "page.html" %}
{% set intro = g.site_intro_text %}
{% set placeholder = _('E.g. environment') %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block toolbar %}{% endblock %}

{% block primary_content %}
  {% if intro %}
    {{ h.render_markdown(intro) }}
  {% else %}
    <p>
      {% trans %}This is a nice introductory paragraph about CKAN or the site
      in general. We don't have any copy to go here yet but soon we will
      {% endtrans %}
    </p>
  {% endif %}
  <div class="row" style="margin-bottom: 1em">
    <div class="col-md-6">
      {% block promoted %}
        {% snippet 'home/snippets/promoted.html' %}
      {% endblock %}
    </div>
    <div class="col-md-6">
      {% block home_search %}
        {% snippet 'home/snippets/search.html' %}
      {% endblock %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      {% block featured_group %}
          {% snippet 'home/snippets/featured_group.html' %}
      {% endblock %}
    </div>
    <div class="col-md-6">
      {% block featured_organization %}
          {% snippet 'home/snippets/featured_organization.html' %}
        {% endblock %}
    </div>
  </div>
{% endblock %}
