{% set tags = h.get_facet_items_dict('tags', limit=3) %}
{% block home_search %}
<form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
  <h2>{{ _("Search data") }}</h2>
  <div class="form-group">
    <div class="input-group">
      <input type="text" class="form-control" title="{{ _("Search data") }}" name="q" value="" autocomplete="off" placeholder="{% block search_placeholder %}{{ placeholder }}{% endblock %}" />
      <div class="input-group-btn">
        <button type="submit" class="btn btn-default">
          <span class="glyphicon glyphicon-search"></span>
          <span class="wb-inv">{{ _('Search') }}</span>
        </button>
      </div>
    </div>
  </div>
</form>
{% endblock %}
{% block home_tags %}
<div class="tags">
  <h3>{{ _('Popular tags') }}</h3>
  <ul class="list-inline">
    {% for tag in tags %}
      <li>
        <a class="tag" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
      </li>
    {% endfor %}
  </ul>
</div>
{% endblock %}