{% block home_search %}
  <form method="get" action="{% url_for controller='package', action='search' %}" role="search" class="form-inline">
    <div class="form-group"><label for="wb-srch-q">{{ _("Search Your Data") }}</label>
      <input id="wb-srch-q" class="form-control" name="q" type="search" value="" size="27" maxlength="150"/>
      <input type="hidden" name="q" value="{{ _('Search') }}"/>
      <button type="submit" id="wb-srch-sub" class="btn btn-default">Search</button>
    </div>
  </form>
{% endblock %}

{% block home_tags %}
  {% set tags = h.get_facet_items_dict('tags', limit=3) %}
  <h3>{{ _('Popular Tags') }}</h3>
  <ul class="menu-horizontal margin-top-none">
    {% for tag in tags %}
      <li><a class="button" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a></li>
    {% endfor %}
  </ul>
{% endblock %}
