{% ckan_extends %}

{% block subtitle %}{{ super.super() }}{% endblock %}
{% block subtitle_2 %}{{ _('Activity Stream') }}{% endblock %}
{% block page_heading %}{{ super.super() }}{% endblock %}

{% block primary_content_inner %}
  {% block activity_stream %}
  <div align="right">
  <a href="{{ '/feeds/organization/'+c.group_dict['id']+'.atom' }}" title="RSS">
          <span class="fa fa-rss-square"></span> Atom Feed
        </a>
        </div>
    {{ c.group_activity_stream | safe }}
  {% endblock %}
{% endblock %}
