{% extends "page_wet.html" %}

{% block subtitle %}{{ _('Organizations of Datasets') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
{% endblock %}

{% block toolbar %}
  {% if h.check_access('organization_create') %}
  <div class="span-8">
    {% block actions %}
    <ul class="button-toolbar">
    {% block actions_content %}
      <ul class="button-group">
      {% if h.check_access('organization_create') %}
        <li>{% link_for _('Add Organization'), controller='organization', action='new', class_='button' %}</li>
      {% endif %}
      </ul>
    {% endblock %}
    </ul>
    {% endblock actions %}
  </div>
  </div class="clear">
  {% endif %}
{% endblock toolbar %}

{% block primary_content %}
  <div>
    <div class="module-content">
      <h1>{{ _('Organizations') }}</h1>
      {% snippet 'snippets/simple_search.html', q=c.q, sort=c.sort_by_selected, placeholder=_('Search organizations...') %}
      <h2 class="is-search-title">
        {% snippet 'snippets/search_result_text.html', query=c.q, count=c.page.item_count, type='organization' %}
      </h2>
      {% if c.page.items or request.params %}
        {% snippet "organization/snippets/organization_list.html", organizations=c.page.items %}
      {% else %}
        <p class="empty">
          {{ _('There are currently no organizations for this site') }}.
          {% if h.check_access('organization_create') %}
            {% link_for _('How about creating one?'), controller='organization', action='new' %}</a>.
          {% endif %}
        </p>
      {% endif %}
    </div>
    {{ c.page.pager() }}
  </div>
{% endblock %}

{% block secondary_content %}
<section>
  <div class="module-related">
    <h3><span></span> {{ _('What are Organizations') }}? </h3>
    <ul>
      <li>
        {% if h.lang() == 'en' %}
          Organizations act like publishing departments for datasets (for
          example, the Department of Health). This means that datasets can be
          published by and belong to a department instead of an individual
          user.
          <br/><br/>        
          Within organizations, admins can assign roles and authorisation its
          members, giving individual users the right to publish datasets from
          that particular organisation (e.g. Office of National Statistics).
        {% else %}
          Une organisation est semblable à un ministère qui publie des ensembles de données (par    exemple, le ministère de la Santé). Cela signifie que les ensembles de données peuvent être publiés par un ministère, et appartiennent à celui_x001E_ci, plutôt qu’à un utilisateur individuel. 
          <br/><br/>
          Au sein d’une organisation, les administrateurs peuvent attribuer des rôles et des autorisations aux membres et donner aux utilisateurs individuels le droit de publier des ensembles de données provenant de cette organisation (p. ex. Office of National Statistics).
        {% endif %}
      </li>
    </ul>
  </div>
</section>
{% endblock %}
