{% extends "organization/base_form_page.html" %}

{% block subtitle %}{{ _('Create a Organization') }}{% endblock %}

{% block breadcrumb_link %}
<li>{% link_for _('Create Organization'), controller='organization', action='edit', id=c.organization.name %}</li>
{% endblock breadcrumb_link%}

{% block page_heading %}<p>{{ _('Create an Organization') }}</p>{% endblock %}

{% block page_header %}{% endblock %}

{% block breadcrumb_content_inner %}
  <li class="active"><a href="#">{{ _('Create a Organization') }}</a></li>
{% endblock %}