{% extends "page_wet.html" %}

{% block subtitle %}{{ c.group_dict.display_name }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
  <li>{% link_for c.group_dict.display_name|truncate(35), controller='organization', action='read', id=c.group_dict.name %}</li>
{% endblock %}

{% block toolbar %}
{% if c.user %}
<div class="span-8">
  {% block actions %}
  <ul class="button-group">
    {% block actions_content %}
    {% if h.check_access('organization_update', {'id': c.group_dict.id}) %}
    <li>
      {% link_for _('Add Dataset'), controller='package', action='new', group=c.group_dict.id, class_='button', icon='plus' %}
    </li>
    <li>
      {% link_for _('Edit'), controller='organization', action='edit', id=c.group_dict.name, class_='button', icon='wrench' %}
    </li>
    {% endif %}
    {#
    <li>
      {% link_for _('History'), controller='organization', action='history', id=c.group_dict.name, class_='button', icon='undo' %}
    </li> #}
    {% endblock actions_content %}
  </ul>
  {% endblock actions %}
</div>
<div class="clear"></div>
{% endif %}
{% endblock toolbar %}

{% block primary_content %}
<section>
  <header>
    <ul class="button-group margin-top-none">
      <li>
        <a href="{{h.url(controller='organization', action='read', id=c.group_dict.name)}}" class="button{% if c.action == 'read' %} button-accent{% endif %}">{{_('Dataset')}}</a>
      </li>
      <li>
        <a href="{{h.url(controller='organization', action='activity', id=c.group_dict.name)}}" class="button{% if c.action == 'activity' %} button-accent{% endif %}">{{_('Activity')}}</a>
      </li>
      <li>
        <a href="{{h.url(controller='organization', action='about', id=c.group_dict.name)}}" class="button{% if c.action == 'about' %} button-accent{% endif %}">{{_('About')}}</a>
      </li>
    </ul>
  </header>

  {% block primary_content_inner %}
  {% endblock %}
</section>
{% endblock %}

{% block secondary_content %}
  {% snippet 'snippets/organization.html', organization=c.group_dict, show_nums=true %}

  {% block organization_facets %}{% endblock %}
{% endblock %}


{% block links %}
  {{ super() }}
  {% include "organization/snippets/feeds.html" %}
{% endblock %}
