{#
Display a grid of organization items.

organizations - A list of organizations.

Example:

    {% snippet "organization/snippets/organization_list.html" %}

#}
{% for i in range(0, organizations|count, 3) %}
  {% set chunk = organizations[i:i+3]  %} 
  <div class="span-6 align-center equalize">
    {% for org in chunk %}
      {% snippet "organization/snippets/organization_item.html",
        organization=org, first=loop.index0 % 3 == 0, last=loop.index0 % 3 == 2 %}
    {% endfor %}
    <div class="row-end"></div>
  </div>
  <div class="clear"></div>
{% endfor %}
