{% extends "group/index.html" %}

{% block breadcrumb_content %}
  <li>{{ h.nav_link(_('Groups'), controller='group', action='index') }}</li>
  <li class="active">{% block breadcrumb_link %}{{ h.nav_link(_('Add a Group'), controller='group', action='new') }}{% endblock %}</li>
{% endblock %}

{% block primary_content %}
  <div class="module">
      <h3>{% block page_heading %}{{ _('Group Form') }}{% endblock %}</h3>
      {% block form %}
        {{ c.form | safe }}
      {% endblock %}
  </div>
{% endblock %}
