{% extends "page_wet.html" %}

{% block subtitle %}{{ _('Groups of Datasets') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Groups'), controller='group', action='index' %}</li>
{% endblock %}

{% block toolbar %}
  {% if h.check_access('group_create') %}
  <div class="span-8">
    {% block actions %}
    <ul class="button-toolbar">
      {% block actions_content %}
      <ul class="button-group">
      {% if h.check_access('group_create') %}
        <li class="button">{% link_for _('Add Group'), controller='group', action='new', class_='btn', icon='plus' %}</li>
      {% endif %}
      </ul>      
      {% endblock %}
    </ul>
    {% endblock actions %}
  </div>
  </div class="clear">
  {% endif %}
{% endblock toolbar %}

{% block primary_content %}
  <div>
      <p><h3 class="page-heading">{{ _('Groups') }}</h3></p>
      {% snippet 'snippets/simple_search.html', q=c.q, sort=c.sort_by_selected, placeholder=_('Search groups...') %}
      <h2>
        {% snippet 'snippets/search_result_text.html', query=c.q, count=c.page.item_count, type='group' %}
      </h2>
      
      {% if c.page.items or request.params %}
        {% snippet "group/snippets/group_list.html", groups=c.page.items %}
      {% else %}
        <p class="empty">
          {{ _('There are currently no groups for this site') }}.
          {% if h.check_access('group_create') %}
            {% link_for _('How about creating one?'), controller='group', action='new' %}</a>.
          {% endif %}
        </p>
      {% endif %}

    {{ c.page.pager() }}
  </div>
{% endblock %}

{% block secondary_content %}
  <section>
    <div class="module-related">
      <h3>
        <span class="wb-icon-info-alt"></span>
        {{ _('What are Groups?') }}
      </h3>
      <ul>
        <li>
        {% trans %}
          Groups allow you to group together datasets under a community (for
            example, Civil Liberty data) or topic (e.g. Transport, Health,
            Environment) to make it easier for users to browse datasets by theme.
            Datasets can be part of a group, but do not belong to the group for
            editing or authorisation purposes.
        {% endtrans %}
        </li>
        </ul>
      </div>
    </div>
  </section>
{% endblock %}
