{#
Renders a list of related item elements

related_items - A list of related items.
pkg_id - A package id for the items used to determine if the edit button
         should be displayed.
first  - True if the first item in a row.
last   - True if the last item in a row.

Example:


  {% snippet "related/snippets/related_list.html", related_items=c.pkg.related, pkg_id=c.pkg.name %}

#}

  {% for i in range(0, related_items|count, 3) %}
    {% set chunk = related_items[i:i+3]  %} 
    <div class="span-6 align-center equalize">
    {% for related_item in chunk %}
      {% snippet "related/snippets/related_item.html",  pkg_id=pkg_id, 
        related=related_item, first=loop.index0 % 3 == 0, last=loop.index0 % 3 == 2 %}
    {% endfor %}
    
    <div class="row-end"></div>
  </div>
  <div class="clear"></div>    
  {% endfor %}

