{% ckan_extends %}

{% block page_header %}
  <div class="col-md-12">
    <ul class="nav nav-pills">
      {{ h.build_nav_icon('user_dashboard', _('News feed')) }}
      {{ h.build_nav_icon('user_dashboard_datasets', _('My Datasets')) }}
      {{ h.build_nav_icon('user_dashboard_organizations', _('My Organizations')) }}
      {{ h.build_nav_icon('user_dashboard_groups', _('My Groups')) }}
    </ul>
  </div>
{% endblock %}

{% block primary_content_inner %}
  <div data-module="dashboard" class="col-md-12">
    {{ super() }}
  </div>
{% endblock %}