<p>
    <div class="module-related">
        <h3><span class="icon-question-sign"></span> {{ _('What are Groups?') }}</h3>
        <ul>
            <li>
                {% trans %}
                Groups allow you to group together datasets under a community (for
                example, Civil Liberty data) or topic (e.g. Transport, Health,
                Environment) to make it easier for users to browse datasets by theme.
                Datasets can be part of a group, but do not belong to the group for
                editing or authorisation purposes.
                {% endtrans %}
            </li>
        </ul>
    </div>
</p>
