{% ckan_extends %}

{% block primary_content %}
    <div class="col-md-12">
      <div class="panel"><div class="panel-body">
      {{ super() }}
      </div></div>
    </div>
{% endblock %}

{% block secondary_content %}
  <div class="panel panel-info">
    <div class="panel-heading">
      <div class="panel-title"><span class="glyphicon glyphicon-book"></span> {{_('Resources')}}</div>
    </div>
    <div class="panel-body">
    {% snippet "package/snippets/resources.html", pkg=pkg %}
    </div>
  </div>
{% endblock %}