{# vim: set filetype=jinja sw=2 sts=2: #}

{% ckan_extends %}

{% set pkg = c.pkg_dict %}
{% set client_lang = h.lang() %}

{% block font_awesome %}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
{% endblock %}

{% block primary_content_inner %}
  {% block actions_content %}
  <div class="row"><div class="col-md-12">
    <ul class="nav nav-pills">
      <li class="active"></li>

       {% if h.check_access('package_update', {'id':pkg.id }) %}
          <li>{% link_for _('Edit'), controller='package', action='edit', id=pkg.name, class_='btn btn-default' %}</li>
          <li>{{ h.follow_button('dataset', pkg.id) }}</li>
          <li>{% link_for _('History'), controller='package', action='history', id=pkg.name, class_='btn btn-default' %}</li>
        {% endif %}
    </ul>
  </div></div>
  <div class="row">
  {% endblock %}

    {% if pkg.state == "deleted" %}
    <div class="alert alert-warning col-md-12">
      {{ _('This dataset has been deleted and is no longer accessible to non-admin users') }}.
    </div>
    {% endif %}

    {% block package_item_title %}

    {% if pkg.private %}
    <div class="col-md-12">
      <p class="text-left">L
      <span class="fa fa-lock"></span> {{ _('Private') }}
      </p>
    </div>
    {% endif %}
    <div class="col-md-12">
      <h2>{{ pkg.title or pkg.name }}
        {% if pkg.state.startswith('draft') %}
          <span class="text-info">[{{ _('Draft') }}]</span>
        {% endif %}
      </h2>
    </div>
    {% endblock %}

    {% block package_item_notes %}
    {% if c.pkg_notes_formatted %}
    <div class="col-md-12">
      {{ c.pkg_notes_formatted }}
    </div>
    {% endif %}
    {% endblock %}

    {% block package_additional_info %}
    {# We implement our own so that additional fields blend seamlessly into the page #}
    {% snippet "package/snippets/additional_info.html", pkg_dict=pkg %}
    {% endblock %}

    <div class="col-md-12">
      <h4>{{_('Licence')}}: </h4>
    </div>
    <div class="col-md-12">
    {% block package_item_license_inner %}
      <a href="{{ pkg.license_url }}">{{ _(pkg.license_title) }}</a>
    {% endblock %}
    </div>

    {% if pkg.resources %}

    <div class="col-md-12">
    {% block package_resources %}
      {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
    {% endblock %}
    {% endif %}
    </div>

    {% block developer_tools %}
    <div class="col-md-12">
      <h4>{{ _('Developer Tools') }}</h4>
        <ul class="list-unstyled">
          <li class="mrgn-bttm-md">{{ _('The information on this page (the dataset metadata) is also available in JSON format') }}<br/>
          <a href="{{h.url_for_static('/', qualified=true)}}api/action/package_show?id={{pkg.id}}">{{ _('Link to JSON format') }}</a></li>
        </ul>
    </div>
    {% endblock developer_tools %}

    {% block package_item_geo_preview %}{% endblock %}
    {% block package_comments %}{% endblock %}
  </div>
{% endblock %}
