{% ckan_extends %}

{% block page_primary_action %}
  {% if h.check_access('package_create') %}
    {% link_for _('Add Dataset'), controller='package', action='new', class_='button button-accent', icon='plus-sign-alt' %}
  {% endif %}
{% endblock %}

{% block primary_content %}
  {{ self.page_primary_action() }}

  <div class="row">
    <div class="col-md-12 mrgn-lft-sm mrgn-rght-sm">
    {{ self.form() }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      {{ self.package_search_results_list() }}
    </div>
  </div>
  <div class="col-md-12">{{ self.page_pagination() }}</div>
  <div class="col-md-12">{{ self.package_search_results_api() }}</div>
{% endblock %}

{% block search_form_footer %}{% endblock %}

{% block package_search_results_api %}
  {{ self.package_search_results_api_inner() }}
{% endblock %}

{% block secondary_content %}

  {% for facet in c.facet_titles %}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
  {% endfor %}

{% endblock %}