{% ckan_extends %}

{% block page_primary_action %}
  {% if h.check_access('package_create') %}
    {% link_for _('Add Dataset'), controller='package', action='new', class_='button button-accent', icon='plus-sign-alt' %}
  {% endif %}
{% endblock %}

{% block primary_content_inner %}
  {{ self.page_primary_action() }}

  <div class="panel">
    {{ self.form() }}
    {% block search_form_footer %}{% endblock %}
    {{ self.package_search_results_list() }}
    <div class="center-block">{{ self.page_pagination() }}</div>
    <div class="center-block">{{ self.package_search_results_api() }}</div>
  </div>


{% endblock %}

{% block package_search_results_api %}
  {{ self.package_search_results_api_inner() }}
{% endblock %}

{% block secondary_content %}

  {% for facet in c.facet_titles %}
      {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
  {% endfor %}

{% endblock %}