{% ckan_extends %}

{% block package_info %}
  {% if pkg %}
    <section class="panel panel-default">
      {{ self.package_info_inner() }}
    </section>
  {% endif %}
  {{ self.package_components() }}
{% endblock %}

{% block heading %}
  <header class="panel-heading">
    <div class="panel-title">{{ pkg.title or pkg.name }}</div>
  </header>
{% endblock %}

{% block nums %}
  <div class="panel-body">
      <h4 class="text-center">{{ _('Followers') }}</h4>
      <p class="text-center">
        <span>{{ h.SI_number_span(h.get_action('dataset_follower_count', {'id': pkg.id})) }}</span>
      </p>
  </div>
{% endblock %}

{% block follow_button %}
  {% if not hide_follow_button %}
    <p class="mrgn-lft-md">{{ h.follow_button('dataset', pkg.name) }}</p>
  {% endif %}
{% endblock %}

{% block package_components %}
    {% if pkg and h.check_access('package_update', {'id':pkg.id }) %}
  <section class="panel panel-default">
    <header class="panel-heading"><div class="panel-title"><span
        class="glyphicon glyphicon-edit"></span> {{ _("Edit Dataset") }}</div></header>
    <div class="panel-body">
      <ul class="nav nav-pills">
        <li class="{% if action == 'package_edit' %}active{% endif %}">
          {% link_for h.dataset_display_name(pkg)|truncate(30), controller='package', action='edit', id=pkg.name %}
        </li>
      </ul>
      {% set resources = pkg.resources or [] %}
      <div class="panel-title">{{ _("Edit Resources") }}</div>
      <ul class="nav nav-pills">

        {% for resource in resources %}
          <li class="{{ ' active' if active == resource.id }}">
            {% link_for h.resource_display_name(resource)|truncate(18), controller='package', action='resource_edit', id=pkg.name, resource_id=resource.id, inner_span=true %}
          </li>
        {% endfor %}

        <li><a href="{{ h.url_for(controller='package', action='new_resource', id=pkg.name)  }}" class="btn{% if action == 'resource_new' %} disabled{% endif %}"><i class="icon-plus"></i> {{ _('Add New Resource') }}</a></li>
      </ul>
    </div>
  </section>
{% endif %}
{% endblock %}