{% extends "page_wet.html" %}

{% block subtitle %}{{ gettext('Error %(error_code)s', error_code=c.code[0]) }}{% endblock %}

{% block maintag %}<div class="row" role="main">{% endblock %}
  
{% block main_content %}
  <div style="min-height:300px;">
    <section class="module-info span-4 offset-2">
      <div class="module-content">
        {{ c.content}}
      </div>
    </section>
  </div>
{% endblock %}

{% block flash %}
  {# eat the flash messages caused by the 404 #}
  {% set flash_messages = h.flash.pop_messages() %}
{% endblock %}

{% block secondary %}{% endblock %}
