{# 
Renders a list of resources with icons and view links.

resources - A list of resources to render
pkg - A package object that the resources belong to.

Example:

  {% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}

#}
<div id="dataset-resources" class="module-content">
  <h5>{{ _('Data and Resources') }}</h5>
  {% if resources %}
    <div class="span-6">
      {% for resource in resources %}
        {% snippet 'package/snippets/resource_item.html', pkg=pkg, res=resource %}
      {% endfor %}
    </div>
  {% else %}
    <p>
      {# Comment out "add some" as action doesn't exist yet #}
      {% trans url=h.url_for(controller='package', action='new_resource', id=pkg.name) %}
      This dataset has no data{#, <a href="{{ url }}">why not add some?</a>#}
      {% endtrans %}
    </p>
  {% endif %}
</div>
