{% set url = h.url_for(controller='package', action='resource_read', id=pkg.name, resource_id=res.id) %}

  {% block resource_item_title %}
  <div class="span-1 row-start align-right">
    <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
    <span class="format-label" property="dc:format" data-format="{{ res.format.lower() or 'data' }}">{{ res.format }}</span>
    </a>
  </div>
  <div class="span-5 row-end ">
     <a class="heading" href="{{ url }}" title="{{ res.name or res.description }}">
      {{ h.resource_display_name(res) | truncate(100) }}
      {{ h.popular('views', res.tracking_summary.total, min=10) }}
    </a>
    {% endblock resource_item_title %}
    <p class="description">
      {% if res.description %}
        {{ h.markdown_extract(res.description, extract_length=80) }}
      {% else %}
        <span class="empty">{{ _('No description for this resource') }}</span>
      {% endif %}
    </p>
        {% block resource_item_explore %}
      <ul class="menu-horizontal">
        {% block resource_item_explore_links %}
        <li>
          <a href="{{ url }}" class="button">
            <span class="wb-icon-table"></span>
            {{ _('Preview') }}
          </a>
        </li>
        <li>
          <a href="{{ res.url }}" class="button" target="_blank">
            <span class="wb-icon-drive-download"></span>
            {{ _('Download') }}
          </a>
        </li>
      </ul>        
     {% endblock resource_item_explore_links %}
   {% endblock resource_item_explore %}
  </div>





