<!DOCTYPE html> <!--[if lt IE 9]>
<html class="no-js lt-ie9" lang="en" dir="ltr"><![endif]--> <!--[if gt IE 8]><!-->
<html class="no-js" lang="en" dir="ltr"> <!--<![endif]-->
<head{% block headtag %}{% endblock %}>
    <meta charset="utf-8">
    {% block meta %}{% endblock %}
    <title>
    {%- block title -%}
      {%- block subtitle %}{% endblock -%}
      {%- if self.subtitle()|trim %} {{ g.template_title_deliminater }} {% endif -%}
      {{ g.site_title }}
    {%- endblock -%}
    </title>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta name="description" content=""/>

  {% set wet_server = h.wet_url() %}

  <!--[if gte IE 9 | !IE ]><!-->
  <link rel="stylesheet" href="{{ wet_server }}/css/wet-boew.min.css"/>
  <!--<![endif]-->
  {% block theme %}
  <link rel="stylesheet" href="{{ wet_server }}/css/theme.min.css"/>
  {% endblock %}
  <!--[if lt IE 9]>
  <link rel="stylesheet" href="{{ wet_server }}/css/ie8-wet-boew.min.css"/>
  <link rel="stylesheet" href="{{ wet_server }}/css/ie8-theme.min.css"/>
  <script src="{{ wet_server }}/jquery-1.11.min.js"></script>
  <script src="{{ wet_server }}/js/ie8-wet-boew.min.js"></script><![endif]-->
  {% block font_awesome %}{% endblock %}

  {% block favicon %}
  <!--[if gte IE 9 | !IE ]><!-->
  <link href="{{ wet_server }}/assets/favicon.ico" rel="icon" type="image/x-icon"/>
  <!--<![endif]-->
  <!--[if lt IE 9]>
  <link href="{{ wet_server }}/assets/favicon.ico" rel="shortcut icon"/>
  <![endif]-->
  {% endblock %}

  <noscript>
    <link rel="stylesheet" href="{{ wet_server }}/css/noscript.min.css"/>
  </noscript>

  </head>
  <body vocab="http://schema.org/" typeof="WebPage">

    {% block page %}{% endblock %}

    <!--[if gte IE 9 | !IE ]><!-->
    <script src="{{ wet_server }}/jquery-2.1.min.js" type="text/javascript"></script>
    <script src="{{ wet_server }}/js/wet-boew.min.js" type="text/javascript"></script>
    <!--<![endif]--><!--[if lt IE 9]>
    <script src="{{ wet_server }}/js/ie8-wet-boew2.min.js"></script>
    <![endif]-->
    {% block page_extra_scripts %}{% endblock %}
  </body>
</html>
