<div class="container">
    <div class="row">
        <section id="wb-lng" class="visible-md visible-lg">
            <h2>Accounts menu and Language selection</h2>
            <ul class="text-right">
                {% set current_url = request.environ.CKAN_CURRENT_URL %}
                {% if h.lang() == 'fr' %}
                <li><a lang="en" hreflang="en" href="{% url_for current_url, locale='en' %}">English</a></li>
                {% else %}
                <li><a lang="fr" hreflang="fr" href="{% url_for current_url, locale='fr' %}">Français</a></li>
                {% endif %}
                {% if c.userobj %}
                    {% block header_account_logged %}
                    <li>
                        <a href="{{ h.url_for(controller='user', action='read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                            {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
                            <span class="username">{{ c.userobj.display_name }}</span>
                        </a>
                    </li>
                    {% if c.userobj.sysadmin %}
                    <li>
                        <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
                            <i class="fa fa-legal"></i>
                        </a>
                    </li>
                    {% endif %}
                    {% set new_activities = h.new_activities() %}
                    <li class="notifications {% if new_activities > 0 %}notifications-important{% endif %}">
                        {% set notifications_tooltip = ngettext('Dashboard (%(num)d new item)', 'Dashboard (%(num)d new items)', new_activities) %}
                        <a href="{{ h.url_for(controller='user', action='dashboard') }}" title="{{ notifications_tooltip }}">
                            <i class="fa fa-dashboard"></i>
                            <span>{{ new_activities }}</span>
                        </a>
                    </li>
                        {% block header_account_settings_link %}
                        <li>
                            <a href="{{ h.url_for(controller='user', action='edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
                                <i class="fa fa-cogs"></i>
                            </a>
                        </li>
                        {% endblock %}
                        {% block header_account_log_out_link %}
                        <li>
                            <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
                                <i class="fa fa-sign-out"></i>
                            </a>
                        </li>
                        {% endblock %}
                    {% endblock %}
                {% else %}
                    {% block header_account_notlogged %}
                    <li>{% link_for _('Log in'), controller='user', action='login' %}</li>
                    {% if h.check_access('user_create') %}
                    <li>{% link_for _('Register'), controller='user', action='register', class_='sub' %}</li>
                    {% endif %}
                    {% endblock %}
                {% endif %}
            </ul>
        </section>
    </div>
</div>
