{% ckan_extends %}
{% block header_wrapper %}
<header role="banner">
  <div id="wb-bnr">
    <div id="wb-bar">
      <div class="container">
        <div class="row">
          <section id="wb-lng" class="visible-md visible-lg">
              {%- block pre_top_nav -%}
              {%- endblock -%}
              <h2>{{ _('Language selection') }}</h2>
              {%- block languagetoggle -%}
                  {% snippet 'snippets/wet-boew/languagetoggle.html' %}
              {%- endblock -%}
          </section>
          <section class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn">
            <h2>{{ _('Menu') }}</h2>
            {%- block mobimenu -%}
              {% snippet 'snippets/wet-boew/mobimenu.html' %}
            {%- endblock -%}
          </section>
        </div>
      </div>
    </div>
    {% block header_debug %}
      <div style="position: absolute">{{ super() }}</div>
    {%- endblock -%}
    <div class="container">
      <div class="row">

        <div id="wb-sttl" class="col-md-8">
          {% block brand %}
            {% snippet 'snippets/wet-boew/brand.html' %}
          {% endblock %}
        </div>

        <section id="wb-srch" class="col-md-4 visible-md visible-lg">
          <h2>{{ _("Search") }}</h2>
          {% block sitesearch %}
            {% snippet 'snippets/wet-boew/sitesearch.html' %}
          {% endblock %}
        </section>

      </div>
    </div>
  </div>

  <nav role="navigation" id="wb-sm" data-trgt="mb-pnl" class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
    <div class="container nvbar">
      <h2>{{ _("Site menu") }}</h2>
      {% block sitemenu %}
        <div class="row">
            <ul class="list-inline menu">
              {% block header_site_navigation_tabs %}
                {{ super() }}
              {% endblock %}
            </ul>
        </div>
      {% endblock %}
    </div>
  </nav>

  <nav role="navigation" id="wb-bc" property="breadcrumb">
    <h2>{{ _('You are here') }}:</h2>
    {% block breadcrumb %}
      <div class="container">
        <div class="row">
          <ol class="breadcrumb">
            {% snippet 'snippets/home_breadcrumb_item.html' %}
            {% block breadcrumb_content %}{% endblock %}
          </ol>
        </div>
      </div>
    {% endblock %}
  </nav>
  <div class="container">
    <div class="row">
      {% block header_account_logged %}
        {% snippet 'snippets/user.html' %}
      {% endblock %}
    </div>
  </div>
</header>
{% endblock %}