{% ckan_extends %}

{% block page %}

  {% block skip %}
  {% snippet 'snippets/skip.html' %}
  {% endblock %}

  {# This format only works for a bilingual format #}
  {% set current_url = request.environ.CKAN_CURRENT_URL %}

  <header role="banner">
    <div id="wb-bnr">
      <div id="wb-bar">
        {% block wet_banner_bar %}
        <div class="container">
          <div class="row">
            <section id="wb-lng" class="visible-md visible-lg">
              <h2>Language selection</h2>
              <ul class="text-right">
                {% if h.lang() == 'fr' %}
                <li><a lang="en" hreflang="en" href="{% url_for current_url, locale='en' %}">English</a></li>
                <li class="curr">Français&#32;<span>(actuel)</span></li>
                {% else %}
                <li><a lang="fr" hreflang="fr" href="{% url_for current_url, locale='fr' %}">Français</a></li>
                <li class="curr">English&#32;<span>(current)</span></li>
                {% endif %}
              </ul>
            </section>
            <section class="wb-mb-links col-xs-12 visible-sm visible-xs" id="wb-glb-mn"><h2>Menu</h2>
              <ul class="pnl-btn list-inline text-right">
                <li><a href="#mb-pnl" title="Menu" aria-controls="mb-pnl" class="overlay-lnk btn btn-xs btn-default"
                       role="button"><span class="glyphicon glyphicon-th-list"><span class="wb-inv">Menu</span></span></a>
                </li>
              </ul>
              <div id="mb-pnl"></div>
            </section>
          </div>
        </div>
        {% endblock %}
      </div>

      <div class="container">
        <div class="row">
          {% block wet_search_box %}
          <div id="wb-sttl" class="col-md-8">
            {% block site_title %}
            <a href="/"> <span>{{ _('Web Experience Toolkit') }}<span class="wb-inv">, </span><small>{{ _("Collaborative open source project led by the Government of Canada") }}</small></span> </a>
            {% endblock %}
          </div>

          <section id="wb-srch" class="col-md-4 visible-md visible-lg"><h2>{{ _("Search") }}</h2>
              <form method="get" action="{% url_for controller='package', action='search' %}" role="search" class="form-inline">
                <div class="form-group"><label for="wb-srch-q">{{ _("Search Your Data") }}</label>
                  <input id="wb-srch-q" class="form-control" name="q" type="search" value="" size="27" maxlength="150"/>
                </div>
                <button type="submit" id="wb-srch-sub" class="btn btn-default">{{ _("Search") }}</button>
              </form>
          </section>
        {% endblock %}
        </div>
      </div>
    </div>

    {% block wet_megamenu %}
    <nav role="navigation" id="wb-sm" data-ajax-fetch="{% url_for '/snippets/menu.html' %}" data-trgt="mb-pnl"
         class="wb-menu visible-md visible-lg" typeof="SiteNavigationElement">
      <div class="container nvbar"><h2>Site menu</h2>

        <div class="row">
          <ul class="list-inline menu">
            <li><a href="./index-en.html">WET project</a></li>
            <li><a href="http://wet-boew.github.io/wet-boew/docs/start-en.html#implement">Implement WET</a></li>
            <li><a href="http://wet-boew.github.io/wet-boew/docs/start-en.html">Contribute to WET</a></li>
          </ul>
        </div>
      </div>
    </nav>
    {% endblock %}


</nav>

    {% block breadcrumb %}
    <nav role="navigation" id="wb-bc" property="breadcrumb"><h2>You are here:</h2>

      <div class="container">
        <div class="row">
          <ol class="breadcrumb">
            {% snippet 'snippets/home_breadcrumb_item.html' %}
            {% block breadcrumb_content %}{% endblock %}
          </ol>
        </div>
      </div>
    </nav>
    {% endblock %}
  </header>
  {% block toolbar %}{% endblock %}

  {% set lang = h.lang() %}

  {% block content %}
  <div class="container">
    <div class="row">
    {% block pre_primary %}{% endblock %}
    {% block primary %}

    <main role="main" property="mainContentOfPage" class="col-md-9 col-md-push-3">

      {% block flash %}
      <div class="row">
        {% for message in flash_messages %}
        <div class="alert fade in {{ message.category }}">
          {{ h.literal(message) }}
        </div>
        {% endfor %}
      </div>
      {% endblock flash %}

      <div class="row">
      <h2 class="h2">{% block subtitle %}{% endblock %}</h2>
      </div>

      {% block primary_content %}
      <div class="row">
      {% block primary_content_inner %}{% endblock %}
      </div>
      {% endblock primary_content %}

    </main>
    {% endblock primary %}

    {% block secondary %}
      <div class="col-md-3 col-md-pull-9" id="wb-sec" >
      {% block secondary_content %}
      {% endblock %}
      </div>
    {% endblock secondary %}

    </div>
  </div>
  {% endblock content %}

  {% block footer %}
    {% include "footer.html" %}
  {% endblock %}

{% endblock %}

{% block scripts %}{% endblock %}





