{% extends "page_wet.html" %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block maintag %}{% endblock %}

{# Clear out the breadcrumb on the home page #}
{% block breadcrumb_content %}{%- endblock breadcrumb_content %}  

{% block header_site_search %}
  <form class="section site-search simple-input" action="{% url_for controller='package', action='search' %}" method="get">
    <div class="field">
      <label for="field-sitewide-search">{{ _('Search Datasets') }}</label>
      <input id="field-sitewide-search" name="q" placeholder="{{ _('Search') }}" />
      <button class="btn-search button" type="submit">{{ _('Search') }}</button>
    </div>
  </form>
{% endblock %}
      
{# For the homepage, re-arrange the normal primary/secondary layout from side-by-side
   to stacked
#}
{% block content %}
  <div role="main">
      {{ self.flash() }}
      {{ self.primary_content() }}
  </div>
  <div>
      {{ self.secondary_content() }}
  </div>
{% endblock %}

{% block primary_content %}
  <h1>{% block home_primary_heading %}{{ _("Welcome to CKAN") }}{% endblock %}</h1>
  <div class="span-8 equalize">
  <div class="span-4 row-start">
    <div class="module-poster">
      {% block home_image %} 
          {%- block home_image_content -%}
          <img src="http://placehold.it/420x220" alt="Placeholder (420x220)" width="420" height="220" />
          {% endblock %}
      {% endblock home_image %}
      
      <div class="image-caption">
      {% block home_primary %}
          <h4>{% block home_image_caption %}{{ _("This is a featured section") }}{% endblock %}</h4>
          {% if g.site_intro_text %}
          {{ h.render_markdown(g.site_intro_text) }}
          {% else %}
            {% block home_primary_content %}
              <p>
              {% block home_primary_text %}
                {% trans %}This is a nice introductory paragraph about CKAN or the site
                in general. We don't have any copy to go here yet but soon we will
                {% endtrans %}
              {% endblock %}
              </p>
            {% endblock %}
          {% endif %}
      {% endblock home_primary %}
      </div>
    </div>
  </div>
  
  <div class="span-4 row-end">
      {% block home_secondary_content %}
        {% block home_search %}
          <div>
            <form method="get" action="{% url_for controller='package', action='search' %}">
              <h3 class="background-accent"><span class="wb-icon-gear"></span>{{ _("Search Your Data") }}</h3>
              <div class="module">
                <p>
                  <input type="text" class="search" name="q" size="45" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('eg. Gold Prices') }}" />
                  <button type="submit" class="button button-accent" value="{{ _('Search') }}">Submit</button>
                </p>
              </div>
            </form>
          </div>
        {% endblock %}

        {% block home_tags %}
          <div>
            <h3>{{ _('Popular Tags') }}</h3>
            {% set tags = h.get_facet_items_dict('tags', limit=3) %}
            <ul class="menu-horizontal margin-top-none">
              {% for tag in tags %}
                <a class="button" href="{% url_for controller='package', action='search', tags=tag.name %}">{{ h.truncate(tag.display_name, 22) }}</a>
              {% endfor %}
            </ul>
            
          </div>
        {% endblock %}
      {% endblock %}

  </div>
  </div>
  <div class="clear"></div>
{% endblock primary_content %}

<div class="span-8">
{% block secondary_content %}
    {% for group in c.group_package_stuff %}
     {% snippet 'snippets/group_item.html', group=group.group_dict, truncate=100 %}
    {% endfor %}
{% endblock %}
</div>
<div class="clear"></div>

{# Remove the toolbar. #}
{% block toolbar %}{% endblock %}
