<footer role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr">
  <div class="container">
    {% block footer_content %}
    <nav role="navigation" class="row"><h2>{{ _('About this site') }}</h2>
      <section class="col-sm-3"><h3>{{ _('About {0}').format(_(g.site_title)) }}</h3>
          <ul class="list-unstyled">
            <li><a href="#">{{ _('Terms and Conditions') }}</a></li>
            <li><a href="#">{{ _('Accessibility') }}</a></li>
            <li><a href="#">{{ _('Code of conduct') }}</a></li>
            <li><a href="#">{{ _('Moderation policy') }}</a></li>
          </ul>
      </section>
      <section class="col-sm-3"><h3>{{ _('News') }}</h3>
          <ul class="list-unstyled">
            <li><a href="#">{{ _('FAQ') }}</a></li>
            <li><a href="#">{{ _('Privacy') }}</a></li>
            <li><a href="#">{{ _('Contact us') }}</a></li>
            <li><a href="{{ api_url }}">{{ _('CKAN API') }}</a></li>
          </ul>
      </section>
    </nav>
    {% endblock %}
  </div>
</footer>

{% block footer_debug %}
  {% if g.debug %}
    {% include 'snippets/debug.html' %}
  {% endif %}
{% endblock %}
