<li class="item {{ activity.type|lower }}">
	{% if activity.is_new %}
	<span class="new" title="{{ _('New activity item') }}">{{ _('New activity item') }}</span>
	{% endif %}
	

	{% if activity.icon == "file" %}
	<span class="wb-icon-box"></span>
	{% elif activity.icon == "sitemap" %}
	<span class="wb-icon-sitemap"></span>
	{% elif activity.icon == "" %}
	<span class=""></span>
	{% elif activity.icon == "briefcase" %}
	<span class="wb-icon-briefcase"></span>
	{% elif activity.icon == "group" %}
	<span class="wb-icon-users"></span>
	{% else %}
	<span class="{{activity.icon}}"></span>
	{% endif %}
	
	
	  {# The code for this is a problem because the HTML markup is actually embedded in the ckan.lib.activity_streams module
	     and makes it impossible to control the markup. Hopefully a future version of CKAN will do away with this.
	     This workaround does away with the gravator link and anonymizes the user. May want to implement a helper to render the activity
	     stream. See ckan/lib/activity_sterams.py #}

        
    {{ h.literal(activity.msg.format(**activity.data)) }}
		<span class="date">, {{ h.render_datetime(activity.timestamp, date_format="%Y-%m-%d") }} </span>
	
</li>