{% set current_url = request.environ.CKAN_CURRENT_URL %}
{% set current_lang = request.environ.CKAN_LANG %}
<form action="{% url_for controller='util', action='redirect' %}" method="POST">
  <label for="field-lang-select">{{ _('Language') }}</label>
  <select id="field-lang-select" name="field-lang-select" style="background-color: #fff">
    {% for locale in h.get_available_locales() %}
      <option value="{% url_for current_url, locale=locale %}" {% if locale == current_lang %}selected="selected"{% endif %}>
        {{ locale.display_name or locale.english_name }}
      </option>
    {% endfor %}
  </select>
  <button type="submit" class="button button-info button-small">{{ _('Go') }}</button>
</form>
